openapi: 3.2.0
info:
  title: Fieldguide Token API
  description: An API for interacting with the Fieldguide platform
  version: v1
  contact: {}
servers:
- url: https://api.fieldguide.io
  description: Fieldguide API
security:
- bearer: []
tags:
- name: Token
paths:
  /v1/token:
    get:
      operationId: get_current_token_v1
      parameters: []
      responses:
        '200':
          description: Metadata about the current authentication token
          content:
            application/json:
              schema:
                discriminator:
                  propertyName: type
                  mapping:
                    api: '#/components/schemas/ApiTokenRead'
                    jwt: '#/components/schemas/JwtTokenRead'
                oneOf:
                - $ref: '#/components/schemas/ApiTokenRead'
                - $ref: '#/components/schemas/JwtTokenRead'
        '401':
          description: Unauthorized
      summary: Get metadata about the current authentication token
      tags:
      - Token
components:
  schemas:
    JwtTokenRead:
      type: object
      properties:
        user_uuid:
          type: string
          format: uuid
          example: 821e8d9e-d2a8-480f-9187-5a685d3d0d71
        created_at:
          format: date-time
          type: string
          example: '2023-01-01T12:30:00.000Z'
        expires_at:
          format: date-time
          type: string
          example: '2023-01-01T12:30:00.000Z'
        type:
          type: string
          enum:
          - jwt
          example: jwt
      required:
      - user_uuid
      - created_at
      - expires_at
      - type
    ApiTokenRead:
      type: object
      properties:
        user_uuid:
          type: string
          format: uuid
          example: 821e8d9e-d2a8-480f-9187-5a685d3d0d71
        created_at:
          format: date-time
          type: string
          example: '2023-01-01T12:30:00.000Z'
        expires_at:
          format: date-time
          type: string
          example: '2023-01-01T12:30:00.000Z'
        type:
          type: string
          enum:
          - api
          example: api
        uuid:
          type: string
          format: uuid
          example: 821e8d9e-d2a8-480f-9187-5a685d3d0d71
        name:
          type: string
          example: Acme ABC Token
        scopes:
          type: array
          example:
          - engagements:read
          - engagements.files:read
          - engagements.files:write
          items:
            enum:
            - comments:read
            - comments:write
            - companies:read
            - companies:write
            - controls:read
            - engagements:read
            - engagements:write
            - engagements.files:read
            - engagements.files:write
            - files:read
            - insights:read
            - milestones:read
            - requests:read
            - requests:write
            - requests.files:read
            - requests.files:write
            - users:read
            - webhooks:read
            - webhooks:write
            - sheets:read
            - sheets:write
        provisioned_for:
          type: string
          default: fieldguide
      required:
      - user_uuid
      - created_at
      - expires_at
      - type
      - uuid
      - name
      - scopes
      - provisioned_for
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
externalDocs:
  description: Fieldguide API Documentation
  url: https://fieldguide.io/developers
